<!DOCTYPE html>
<html ng-app="app" ng-controller="controller">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{{hola}}

<script type="text/javascript" src="../dependencias/angularv1.2.22.min.js"></script>
<script type="text/javascript" src="../core/api.js"></script>
<script type="text/javascript" src="app.js"></script>


</body>
</html>